html,
body {
    height: 100%;
    width: 100%;
    color: black;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.padding {
    padding-bottom: 2rem;
}

#Join_the_worlds_best_Learning_ {
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    color: rgba(82, 152, 210, 1);
}

#Find_the_best_skills_for_you_B {
    margin-top: 30px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(82, 152, 210, 1);
}

.flex-box-1 {
    margin-top: 30px;
}

.flex-box-1 .container-1,
.flex-box-2 .container-2,
.flex-box-9 .container-9 {
    padding-left: 80px;
    padding-right: 10px;
}

.container-3,
.container-4,
.container-5,
.container-7,
.container-8 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 50px;
}

.flex-box-6 .container-6 {
    padding-left: 80px;
    padding-right: 10px;
}

.flex-box-6 {
    background-color: rgba(152, 255, 145, 1);
    padding: 20px;
}

.flex-box-9,
.flex-box-tips {
    background-color: rgb(249, 250, 168);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
}

.flex-box-1 img {
    margin-top: -140px;
}

.flex-box-2 {
    background-color: rgba(239, 248, 255, 1);
    margin-top: -100px;
    padding: 20px;
}

.container #course-search-result:hover {
    text-decoration: none !important;
}

.container #course-search-result {
    text-align: left;
}

#Rectangle_611 {
    fill: rgba(239, 248, 255, 1);
}

.Rectangle_612 {
    filter: drop-shadow(0px 3px 12px rgba(113, 113, 113, 0.11));
    fill: rgba(255, 255, 255, 1);
    width: 380px;
    height: 120px;
}

.Rectangle_613 {
    filter: drop-shadow(0px 3px 12px rgba(113, 113, 113, 0.11));
    fill: rgba(255, 255, 255, 1);
    width: 700px;
    height: 120px;
}

#rec-text-1 {
    fill: rgba(63, 115, 159, 1);
    font-size: 60px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

#rec-text-1-2 {
    fill: rgba(82, 152, 210, 1);
    font-size: 30px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

#rec-text-1-3 {
    fill: rgba(82, 152, 210, 1);
    font-size: 30px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

#rec-text-2 {
    fill: rgba(63, 115, 159, 1);
    font-size: 50px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
}

.Ellipse_2 {
    width: 100px;
    height: 100px;
    fill: rgba(152, 255, 145, 1);
}

.Ellipse_1 {
    width: 100px;
    height: 100px;
    fill: rgba(254, 214, 199, 1);
}

.Ellipse_3 {
    width: 100px;
    height: 100px;
    fill: rgba(255, 248, 154, 1);
}

.Ellipse_4 {
    width: 100px;
    height: 100px;
    fill: rgba(255, 154, 86, 0.438);
}

#tips {
    color: black;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa8;
}

.fa-youtube {
    color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #D5D5D5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.navbar-brand {
    font-size: 35px;
}

.logo {
    font-size: 15px;
}

h2.worth {
    font-size: 150%;
}

img.worth {
    font-size: 150%;
}

hr {
    border-top: 1px solid blue;
}

hr.a {
    border-top: 1px solid white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 15px;
}

#project-search-result {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    margin: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}


/*---Media Queries --*/

@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
    .carousel-caption h1 {
        font-size: 200%;
    }
    .display-4 {
        font-size: 200%;
    }
    h2.worth {
        font-size: 120%;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .display-4 {
        font-size: 150%;
    }
    p.lead {
        font-size: 110%;
    }
    .navbar {
        padding: .6rem;
    }
    .navbar-nav li {
        padding-right: 15px;
    }
    .nav-link {
        font-size: 1.1em !important;
    }
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
    }
    h2.worth {
        font-size: 110%;
    }
    footer {
        padding-top: 1rem;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 130%;
    }
    .display-4 {
        font-size: 130%;
    }
    .navbar {
        padding: .4rem;
    }
    .navbar-nav li {
        padding-right: 10px;
    }
    .nav-link {
        font-size: 1.1em !important;
    }
    .social a {
        font-size: 2em;
        padding: .7rem;
    }
    h2.worth {
        font-size: 100%;
    }
}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/net.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

[class*="col-"] {
    padding: 1rem;
}

.column {
    float: left;
    width: 50%;
}

.column {
    float: left;
    width: 50%;
}