#backToTop {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#backToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#backToTop:hover {
    cursor: pointer;
    background-color: #333;
}

#backToTop:active {
    background-color: #555;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}


/* Styles for the content section */

@media (min-width: 500px) {
    #backToTop {
        margin: 30px;
    }
}