.form-control {
    box-shadow: none;
    font-weight: normal;
    font-size: 13px;
    border: solid 1px #B0CDE0;
}

.navbar {
    background: #B0CDE0 !important;
    padding-left: 80px;
    padding-right: 70px;
    /* border-bottom: 1px solid #dfe3e8; */
    border-radius: 0;
}

.navbar .search-type {
    border-radius: 25px;
    font-size: 14px;
    margin-right: 5px;
    padding: 5px;
    color: gray;
    border: 1px solid #B0CDE0;
    background-color: #EBF5FC;
}

.navbar .search-type:hover {
    color: #0f1137;
    border: 1px solid #95b7ce;
    background-color: #EBF5FC;
    font-weight: bold;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.356);
    cursor: pointer;
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar .navbar-brand {
    padding-left: 0;
    font-size: 25px;
    padding-right: 50px;
    font-weight: bold;
    /* -webkit-text-stroke: 0.5px black; */
    -webkit-text-fill-color: #0f1137;
}

.navbar .form-inline {
    display: inline-block;
}

.navbar .nav-item {
    color: #0f1137 !important;
    font-size: 15px;
}

.navbar .nav-item:hover {
    transition: 0.2s;
    font-weight: bold;
}

.search-box {
    position: relative;
    padding-top: 10px;
}

.search-box input {
    /* border-color: #5298D2; */
    border-radius: 25px;
    box-shadow: none;
    background-color: #EBF5FC;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-radius: 25px;
}

.search-box input:hover,
.search-box input:focus,
.search-box input:active {
    border: none !important;
    background-color: #EBF5FC;
}

.search-box .input-group-text {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}

.search-box i {
    color: grey;
    font-size: 19px;
    padding-bottom: 7px;
}

.input-group-text:active,
.input-group-text:focus {
    outline: none;
}

.navbar .dropdown-menu {
    color: black;
    font-weight: normal;
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar a,
.navbar a:active {
    color: #0f1137 !important;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
}

.navbar .navbar-form {
    border: none;
}

.navbar .action-form {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.navbar .action-form a {
    color: #33cabb;
    padding: 0 !important;
    font-size: 14px;
}

.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.navbar .sign-up-btn {
    background-color: #EBF5FC !important;
    border: none !important;
    border-radius: 0.5rem !important;
}

.navbar .sign-up-btn:hover,
.navbar .sign-up-btn:focus {
    background-color: #EBF5FC !important;
    box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.486) !important;
    font-weight: bold;
}

.navbar .sign-up-btn:active {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.342) !important;
}

.navbar .social-btn .btn,
.navbar .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}

.navbar .social-btn .facebook-btn {
    background: #507cc0;
}

.navbar .social-btn .facebook-btn:hover {
    background: #4676bd;
}

.navbar .social-btn .twitter-btn {
    background: #64ccf1;
}

.navbar .social-btn .twitter-btn:hover {
    background: #4ec7ef;
}

.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}

.navbar .action-buttons .dropdown-toggle::after {
    display: none;
}

.form-check-label input {
    position: relative;
    top: 1px;
}

.container {
    position: relative;
    text-align: center;
    color: tomato;
}


/* Centered text */

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.02vw;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 768px) {
    .navbar .dropdown-menu.action-form {
        width: 100%;
        padding: 10px 15px;
        background: transparent;
        border: none;
    }
    .navbar .form-inline {
        display: block;
    }
    .navbar .input-group {
        width: 100%;
    }
}