.signup-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 15px;
}

.signup-form h3 {
    color: rgba(82, 152, 210, 1);
    margin: 0 0 15px;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.signup-form h3:before {
    left: 0;
}

.signup-form h3:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    color: #999;
    border-radius: 20px;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border: 1px solid rgba(82, 152, 210, 1);
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form .form-group #submit-btn {
    background-color: #5298D2;
    border: none;
}

.signup-form .form-group #submit-btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
    background-color: #2b85ce;
}

.signup-form .form-group #submit-btn:active {
    background-color: #5298D2;
    transition: background-color 0.2s;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form input {
    border-radius: 10px;
    width: 100%;
    height: 40px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
    border-radius: 30px;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}

.signup-form a {
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: rgba(82, 152, 210, 1);
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.g-sign-in-button {
    margin-top: 10px;
    margin-bottom: 10px;
    /* align-content: center; */
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #5298D2;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
    background-color: #2b85ce;
}

.g-sign-in-button:active {
    background-color: #5298D2;
    transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.g-sign-in-button img {
    width: 28px;
    height: 28px;
}

.g-sign-in-button .logo-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%px;
    height: 100%;
    border-radius: 1px;
    display: inline-block;
}

.g-sign-in-button .text-container {
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
}