html,
body {
    height: 100%;
    width: 100%;
    color: #5298D2;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 1rem;
    background: rgba(250, 255, 175, 1);
}

.card {
    box-shadow: 2px 2px 2px 2px #888888 !important;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 150px;
    height: 150px;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}


/* .profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
} */

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}

.navbar {
    background: #5298D2 !important;
    padding-left: 80px;
    padding-right: 70px;
    /* border-bottom: 1px solid #dfe3e8; */
    border-radius: 0;
}


/* .nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
} */


/* .navbar .form-inline {
    display: inline-block;
} */

.navbar .nav-item {
    color: white !important;
    font-size: 15px;
}

.navbar .nav-item:hover {
    transition: 0.2s;
    font-weight: bold;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .links {
    background-color: #5298D2;
    border: 0ch;
    font-weight: bold;
}

.popup .links:hover,
.popup .links:focus,
.popup .links:active {
    background-color: #5298D2 !important;
    border: 0ch !important;
    font-weight: bold !important;
}

.popup .link-logout {
    background-color: white;
    color: #5298D2;
    border: 2px solid #5298D2;
    font-weight: bold;
}

.popup .link-logout:hover,
.popup .link-logout:active,
.popup .link-logout:focus {
    background-color: #5298D2 !important;
    color: white !important;
    font-weight: bold !important;
    border: 0ch !important;
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 95%;
    max-width: 500px;
    height: 300px;
    z-index: 2;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 20px;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: white;
    color: #5298D2;
    border: 1px solid #5298D2;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup .close-btn:hover {
    background: #5298D2;
    color: white;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

button {
    background-color: #5298D2;
    border: 0ch;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #5298D2;
    color: white;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #5298D2;
    color: white;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* End of pop up */

header {
    background: #5298D2 !important;
    padding-left: 80px;
    padding-right: 70px;
    /* border-bottom: 1px solid #dfe3e8; */
    border-radius: 0;
    position: sticky;
    position: -webkit-sticky;
}

header .navbar .navbar-brand {
    padding-left: 0;
    font-size: 25px;
    padding-right: 50px;
    /* font-weight: bold; */
    -webkit-text-stroke: 0.5px white;
    -webkit-text-fill-color: transparent;
}